.main-body {
  background-color: #10131a;
  color: white;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 70px;
  margin-left: 250px;
  z-index: -1;
}
